@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;600&display=swap');
.game{
    width:100%;
    height:100%;
    background-image: url(../img/main-background.jpg);
    background-color: rgb(37, 37, 37);
}

.game__container {
    max-width: 800px;
    max-height: 100%;
    width:100%;
    height: 100%;
    margin: 0 auto;
}

.game__area {
    display:flex;
    flex-direction: column;
    text-align: center;
}
.game__title{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size:50px;
    color:white
}
.game_screen {
    width: 100%;
    height:  560px;
    display: flex;
    border-radius:30px;
    -webkit-box-shadow: 0px 5px 62px 12px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 5px 62px 12px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 62px 12px rgba(0, 0, 0, 0.6);
}
.side {
    flex: 0 1 50px;
    height: 100%;
    flex: 0 1 20%;
    background-color: #DC143C;
}
.left-side {
    border-radius: 30px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color:#00BFFF;
}
.screen {
    flex: 0 1 60%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}
.frame{
    width: 100%;
    height: 40px;
    background-color: rgb(22, 22, 22)
}
.screen-area {
    width: 100%;
    height: 90%;
    position:relative;
}
#game {
    width:480px;
    height: 480px;
}
.title-start-game {
    font-size:40px;
    position: absolute;
    left: -50px;
    opacity: 0;
    color: rgb(65, 65, 65);
    font-weight: 600;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.bottom-frame {
    display: flex;
    align-items:center;
    justify-content: center;
}
.button-start {
    width:30px;
    height: 30px;
    border-radius:30px;
    background-color: rgb(218, 70, 70);
    color:white;
    padding-top:8px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.button-start:active {
    width:25px;
    height: 25px;
    padding-top:5px;
}
.game-buttons__left-side{
    position: absolute;
    width:100%;
    top: 100px;
}
.right-side {
    border-radius: 0px 30px 30px 0px;
}
.row{
    height: 50px;
    width: 100%;
}
.row-2 {
    display:flex;
}
.button{
    width:45px;
    height: 45px;
    background-color: green;
    margin:0 auto;
    background-color: rgb(83, 81, 81);
    cursor: pointer;
    -webkit-box-shadow: 0px 11px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 11px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 11px 5px -5px rgba(34, 60, 80, 0.6);
    flex:0 1 27%;
}
.button:active {
    box-shadow: none;
    width:43px;
    height: 43px;
}
.button-top {
    border-radius: 30px 30px 8px 8px;
}
.button-left {
    border-radius: 30px 8px 8px 30px;
}
.button-right {
    border-radius: 8px 30px 30px 8px;
}
.button-down{
    border-radius: 8px 8px 30px 30px;
}
.button-circle{
    border-radius:15px;
    background-color: rgb(46, 46, 46);
}